<div class="container">
  <div *ngIf="showSuccessMessage" [ngClass]="{'fade-out': showSuccessMessage}" class="success-message">
    {{ successMessage }}
  </div>
  <div *ngIf="showCommentMessage" [ngClass]="{'fade-out': showCommentMessage}" class="err-message">
    {{ commentMessage }}
  </div>
  <div *ngIf="showError" [ngClass]="{'fade-out': showSuccessMessage}" class="success-message" >
    {{error}}
  </div>

<h2>{{ ticket.id ? 'Update: ' + ticket.title : 'Add Ticket' }}</h2>
  <form (ngSubmit)="saveTicket()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="ticket.title" name="title" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" [(ngModel)]="ticket.description" name="description" required></textarea>
    </div>
    <div class="mt-2">
      <label for="assignedTo">Assigned To</label>
      <select id="assignedTo" class="form-select" [(ngModel)]="ticket.assignedTo" name="assignedTo" required>
        <option *ngFor="let user of users" [value]="user.userId" selected>{{user.fullName}}</option>
      </select>
    </div>

    
    <select [(ngModel)]="ticket.status" name="status" required>
      <option [value]="0">Unknown</option>
      <option [value]="1">In Progress</option>
      <option [value]="2">Completed</option>
      <option [value]="3">Failed</option>
      <option [value]="4">Blocked</option>
    </select>
    
    <div class="mt-2">
      <button type="submit" class="btn btn-primary">{{ ticket.id ? 'Update' : 'Save' }}</button>
      <button type="button" class="btn btn-secondary" style="margin-left:10px;" (click)="cancel()">Cancel</button>
    </div>
  </form>

  <div class="comment-section mt-4">
    <h3>Comments</h3>
    <div class="comment-list">
      <div *ngFor="let comment of ticket.comments" class="comment-box">
        <div class="comment-header">
          <strong class="comment-username">{{ comment.createdBy }}</strong>
          <span class="comment-date">{{ comment.createdOn | date:'medium' }}</span>
        </div>
        <div class="comment-message">
          {{ comment.commentMessage }}
        </div>
        <div class="comment-actions">
          <a class="edit-link" (click)="editComment(comment)">Edit</a> 
          <a class="delete-link" (click)="deleteComment(comment.id)">Delete</a>
        </div>
      </div>
    </div>
  </div>
  

  <div class="add-comment-section mt-4" *ngIf="ticket.id">
    <div>
      <textarea [(ngModel)]="newComment.commentMessage" name="commentMessage" class="form-control" placeholder="Add your comment here...." required></textarea>
      <div class="mt-2">
        <button (click)="addOrUpdateComment()" 
        type="submit" 
        class="btn btn-primary" 
        >{{isEditingComment ? 'Update': 'Save'}}</button>
      <button type="button" class="btn btn-secondary" style="margin-left:10px;" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>

  
</div>
