<div class="container">
  <div *ngIf="showErrorMessage" [ngClass]="{'fade-out':showErrorMessage}" class="success-message">
    {{successMessage}}
  </div>
    <h2>Tickets</h2>

    <div class="search-container">
      <button routerLink="/tickets/new" class="btn btn-primary new-ticket-button">New Ticket</button>
      <div class="search-box">
        <input type="text" [(ngModel)]="searchTerm" (input)="searchTickets()" placeholder="Search" />
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Created By</th>
          <th>Created Date</th>
          <th>Assigned To</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of filteredTickets">
          <td>{{ ticket.id }}</td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.createdBy }}</td>
          <td>{{ ticket.createdDate | date }}</td>
          <td>{{ ticket.assignedTo }}</td>
          <td>{{ ticket.status }}</td>
          <td>
            <div>
                <button [routerLink]="['/tickets', ticket.id]" class="btn btn-sm btn-info">Edit</button>
                <button (click)="deleteTicket(ticket.id)" style="margin-left:10px;" class="btn btn-sm btn-danger">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  