<div class="container">
  <div *ngIf="showErrorMessage" [ngClass]="{'fade-out':showErrorMessage}" class="success-message">
    {{successMessage}}
  </div>
    <h2>Tickets</h2>

    <div class="search-container">
      <button routerLink="/tickets/new" class="btn btn-primary new-ticket-button">New Ticket</button>
      <div class="search-box">
        <input type="text" [(ngModel)]="searchTerm" (input)="searchTickets()" placeholder="Search" />
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Created By</th>
          <th>Created Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of filteredTickets">
          <td>{{ ticket.id }}</td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.createdBy }}</td>
          <td>{{ ticket.createdDate | date }}</td> 
          <td>{{ ticket.status }}</td>
          <td>
            <div>
              <button (click)="openDetailsModal(detailsModal, ticket)" style="margin-left:10px;" class="btn btn-sm btn-success">Details</button>
              <!-- <button [routerLink]="['/tickets/ticket-details', ticket.id]" class="btn btn-sm btn-success">Details</button> -->
              <button [routerLink]="['/tickets', ticket.id]" style="margin-left:10px;" class="btn btn-sm btn-info">Edit</button>
              <button (click)="deleteTicket(ticket.id)" style="margin-left:10px;" class="btn btn-sm btn-danger">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>



    <ng-template #detailsModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="ticketDetailsModalLabel">Ticket Details</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <p><strong>Id:</strong> {{ selectedTicket?.id }}</p>
        <p><strong>Title:</strong> {{ selectedTicket?.title }}</p>
        <p><strong>Description:</strong> {{ selectedTicket?.description }}</p>
        <p><strong>Created By:</strong> {{ selectedTicket?.createdBy }}</p>
        <p><strong>Created Date:</strong> {{ selectedTicket?.createdDate | date }}</p>
        <p><strong>Assigned To:</strong> {{ selectedTicket?.assignedTo }}</p>
        <p><strong>Status:</strong> {{ selectedTicket?.status }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
      </div>
    </ng-template>
  </div>
  

  