<div class="d-flex flex-column vh-100 sidebar" [ngStyle]="{ backgroundColor: 'royalblue' }">
    <div class="p-3 text-white border-bottom">
      <h4 class="mb-0">
        <strong>Customer Support</strong>
      </h4>
    </div>
    <nav class="nav flex-column p-3 flex-grow-1">
      <a  class="nav-link text-white" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a class="nav-link text-white" [routerLink]="['/tickets']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tickets</a>
      <a  class="nav-link text-white" [routerLink]="['/contact']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
    </nav>
    <div class="mt-auto p-3">
      <a class="nav-link bg-danger text-white logout" (click)="authService.logout()">Logout</a>
    </div>
  </div>
  